body {
    background-color: beige;
}

h1 {
    padding: 8px;
    padding-left: 20px;
    font-size: 40px;
    font-family: Century Gothic;
    text-align: center;
    margin: auto;
    margin-top: 20px;

    /* border */
    border: 2px solid;
    width: 30%;
    border-color: #800000;
    border-radius: 10px;

    box-shadow: 5px 5px 9px #800000;

    position: fixed;
    position: sticky;
    top: 20px;
}

p.info {
    width: 45%;
    font-family: "MV Boli";
    font-size: 15px;
    text-align: justify;
    padding: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
    transition: 0.25s ease;
    filter: blur(5px);
    margin-top: 50px;

    border-style: solid;
    border-width: 3px 5px 3px 5px;
    border-color: #800000;
    border-radius: 10px;
}

p.info:hover {
    font-style: bold;
    /* color: black; */
    font-size: 16px;
    /* background-color: lightblue; */
    filter: none;
}

#p1 {
    float: left;
}

#p2 {
    float: right;
}

#p3 {
    float: left;
}

#p4 {
    float: right;
}